@charset "UTF-8";
#subnav {
	height: 250px;
	background-image:linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),url('http://localhost:8888/boram/images/subimg.jpg');
	background-repeat:no-repeat;
	background-size : cover;
	background-position: center;
  	display : flex;
  	flex-direction: column;
  	justify-content : center;
  	align-items : center;
  	color:white;
}
.navbar-nav li a {
	position: relative;
}
.navbar-nav li a::before{
	content: "";
	height: 1px;
	width: 0;
	background-color:#fff;
	border-radius:10px;
	transition: 0.2s;
	position: absolute;
	bottom:0;
}
.navbar-nav li a:hover::before{
	width:80%;
	background-color:black;
}
#login-div{
	margin:auto; 
	width:400px;
}