<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reserve">
	<select id="getList" resultType="com.acorn.boram.reserve.dto.ItemsDto">
		SELECT inum, item, price, category
		FROM items
		JOIN categorize USING(category)
		WHERE category = 'clothes'
	</select>
	<select id="getList2" resultType="com.acorn.boram.reserve.dto.ItemsDto">
		SELECT inum, item, price, category
		FROM items
		JOIN categorize USING(category)
		WHERE category = 'bedding'
	</select>
	<select id="getList3" resultType="com.acorn.boram.reserve.dto.ItemsDto">
		SELECT inum, item, price, category
		FROM items
		JOIN categorize USING(category)
		WHERE category = 'shoes'
	</select>
	<select id="getList4" resultType="com.acorn.boram.reserve.dto.ItemsDto">
		SELECT inum, item, price, category
		FROM items
		JOIN categorize USING(category)
		WHERE category = 'living'
	</select>
	
	<select id="getData2" parameterType="int" resultType="com.acorn.boram.reserve.dto.Order_ItemsDto">
		SELECT code, inum, count FROM order_items
		WHERE num=#{num}
	</select>
	<insert id="insert1" parameterType="com.acorn.boram.reserve.dto.Order_ItemsDto">
		INSERT INTO order_items
		(num, code, inum, count)
		VALUES(order_items.NEXTVAL, #{code}, #{inum}, #{count})
	</insert>
	<select id="getData3" parameterType="int" resultType="com.acorn.boram.reserve.dto.CategorizeDto">
		SELECT category FROM categorize
		WHERE num=#{num}
	</select>
	<insert id="insert2" parameterType="com.acorn.boram.reserve.dto.Service_OrderDto">
		INSERT ALL
			INTO service_order VALUES(service_order_seq.NEXTVAL, #{orderer}, #{category}, #{order_price}, SYSDATE, #{reservation_date}, #{request}, #{get_invoice_num}, #{send_invoice_num})
			INTO order_items VALUES(order_items_seq.NEXTVAL, #{code}, #{inum}, #{count})
	</insert>
	<select id="getData4" resultType="com.acorn.boram.reserve.dto.Service_OrderDto">
		SELECT code, orderer, category, order_price, regdate, reservation_date, request, get_invoice_num, send_invoice_num FROM service_order
		WHERE num=#{num}
	</select>
</mapper>
